<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/partials/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>results page</h1>

    <table border = "2">
      <tr>
        <th>Year</th>
        <th>Name</th>
        <th>Cover</th>
        <th>IMDB Link</th>
      </tr>
      <% data['Search'].forEach(function(movie){ %>
      <tr>
        <% var imdb_url = 'https://www.imdb.com/title/' + movie['imdbID'] %>
        <td><%= movie['Year'] %></td>
        <td><%= movie['Title'] %></td>
        <td><img src="<%= movie['Poster'] %>" alt=""></td>
        <td><a href="<%= imdb_url %>">View on IMDB</a></td>
      </tr>
      <% }) %>
    </table>
     <a href="/">Search Again!</a>

  </body>
</html>
<h1>results page</h1>

<table border = "2">
  <tr>
    <th>Year</th>
    <th>Name</th>
    <th>Cover</th>
    <th>IMDB Link</th>
  </tr>
  <% data['Search'].forEach(function(movie){ %>
  <tr>
    <% var imdb_url = 'https://www.imdb.com/title/' + movie['imdbID'] %>
    <td><%= movie['Year'] %></td>
    <td><%= movie['Title'] %></td>
    <td><img src="<%= movie['Poster'] %>" alt=""></td>
    <td><a href="<%= imdb_url %>">View on IMDB</a></td>
  </tr>
  <% }) %>
</table>
 <a href="/">Search Again!</a>
